.item {
  margin: 1rem 0;
}


.content {
  text-align: center;
  display: flex; /* Add this */
  justify-content: space-between; /* Add this */
  align-items: center; /* Add this */
  padding: 1rem;
}

.checkboxButton {
  width: 20px; /* Set the width of the button */
  height: 20px; /* Set the height of the button */
  border: 1px solid #ccc; /* Add a border to make it look like a box */
  background-color: white; /* Set the background color */
  cursor: pointer; /* Change cursor to pointer on hover */
  /* Add any other styles you want to customize the appearance */
}


.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
  margin-right: 10%;
}

.actions {
  padding: 0.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}